<!DOCTYPE html>
<html>
  <head></head>
  <body>
  <h1>Successfully created song.</h1>
  <h2>And as a hack, Song successfully updated.</h2>
  <h4>Song: <%= @song_name %></h4><br>
  <h4>Artist: <%= @artist_name %></h4><br>
  <h4>Genre: <%= @genre %></h4><br>

  </body>
</html>  