<!DOCTYPE html>
<html>
  <head>
    <title>BABABABABABABAAB</title>
  </head>

  <body>
    <p></a>Party on!</p>
    <% if @partial %>
      <%= erb(@partial, layout: false) %>
    <% end %>
  </body>
</html>