

<form action='/songs/:slug/edit' method="POST">
  <p>Updating songs page.</p>
  <%= @song3.name%>
  <p>New Artist Name</p>
  <input type= "text" name="ArtistName" value="What" /></br>
  <p>New Age Garbage</p>
  <input type= "checkbox" name="NewAgeGarbage"/></br>
  <p>Hippity Hop</p>
  <input type= "checkbox" name="HippityHop"/></br>

  <input type="submit" value="Save">

</form>