<h2>Song successfully updated.<h2>
<ul>
  <%= @artist%>
  <p>That One with the Guitar</p>
  <p>Person with a Face</p>
  <% if @genre1 == "on"%>
    <p>New Age Garbage<p>
  <%end%>
  <% if @genre2 == "on"%>
    <p>Hippity Hop<p>
  <%end%>
<ul>